@page
@model TutorPsu.Pages.TutorAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบ</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubejectCat.SubjectCategoryID)
        </dd>
        <dt>
            วันที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.ReportDate)
        </dd>
        <dt>
            สถานที่/เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectDetail)
        </dd>
        <dt>
           ราคา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectCost)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Subject.SubjectID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">กลับสู่หน้าหลัก</a>
    </form>
</div>
