@page
@model TutorPsu.Pages.TutorAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดวิชา";
}

<h2>รายละเอียด</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           วิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubejectCat.SubjectCategoryID)
        </dd>
        <dt>
            วันที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.ReportDate)
        </dd>
        <dt>
            สถานที่/เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectDetail)
        </dd>
        <dt>
           ราคา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subject.SubjectID">เเก้ไข</a> |
    <a asp-page="./Index">กลับสู่หน้าหลัก</a>
</div>
