@page
@model TutorPsu.Pages.TutorAdmin.EditModel

@{
    ViewData["Title"] = "เเก้ไขรายวิชา";
}

<h2>เเก้ไข</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Subject.SubjectID" />
            <div class="form-group">
                <label asp-for="Subject.SubjectCategoryID" class="control-label">วิชา </label>
                <select asp-for="Subject.SubjectCategoryID" class="form-control" asp-items="ViewBag.SubjectCategoryID"></select>
                <span asp-validation-for="Subject.SubjectCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.ReportDate" class="control-label">วันที่ </label>
                <input asp-for="Subject.ReportDate" class="form-control" />
                <span asp-validation-for="Subject.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.SubjectDetail" class="control-label">สถานที่/เวลา</label>
                <input asp-for="Subject.SubjectDetail" class="form-control" />
                <span asp-validation-for="Subject.SubjectDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.SubjectCost" class="control-label">ราคา</label>
                <input asp-for="Subject.SubjectCost" class="form-control" />
                <span asp-validation-for="Subject.SubjectCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับสู่หน้าหลัก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
