@page
@model TutorPsu.Pages.TutorAdmin.IndexModel

@{
    ViewData["Title"] = "หน้าหลัก";
}

<h2>หน้าหลัก</h2>

<p>
    <a asp-page="Create">สร้างใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               หมวดหมู่วิชา
            </th>
            <th>
                วันที่
            </th>
            <th>
                สถานที่/เวลา
            </th>
            <th>
                ราคา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubejectCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
