@using Microsoft.AspNetCore.Identity
@using TutorPsu.Models
@inject SignInManager<TutorUser> SignInManager
@inject UserManager<TutorUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li> 
            <a href="/TutorAdmin"> สร้างตารางการสอนของคุณ </a> 
            </li>
            <li> <a href="/TutorCategoryAdmin"> สร้างหมวดหมู่ </a>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login"><span class="glyphicon glyphicon-log-in">Login</a></li>
    </ul>
}
