﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
 <center><h2>TUTOR ONLINE</h2><center> 
 </div> 
 
 <div class="row"> 
 <h3> วิชาที่มีการสอน </h3>
 <table class="table"> <thead> 
 <tr> <th>วิชา</th>
 <th>รายละเอียด</th>
 <th>วันที่</th><th>สถานที่/เวลา</th>
 <th>ราคา</th>
  </tr> 
  </thead> 
  <tbody>
  
 @foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubejectCat.ShortName)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.SubejectCat.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCost)
            </td>
            <td>
     </tr> }
      </tbody> 
      </table>
      </div>