@page
@model TutorPsu.Pages.TutorCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "สร้าง";
}

<h2>สร้างหมวดหมู่วิชา</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectCategory.ShortName" class="control-label">วิชา</label>
                <input asp-for="SubjectCategory.ShortName" class="form-control" />
                <span asp-validation-for="SubjectCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCategory.FullName" class="control-label">รายละเอียดเพิ่มเติม</label>
                <input asp-for="SubjectCategory.FullName" class="form-control" />
                <span asp-validation-for="SubjectCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="สร้างใหม่" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">กลับสู่หน้าหมวดหมู่</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
