@page
@model TutorPsu.Pages.TutorCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "การลบ";
}

<h2>ลบหมวดหมู่วิชานี้</h2>
<div class="alert alert-warning">
  <strong>Warning!</strong> คุณต้องการลบวิชานี้?!
</div>



<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            วิชา :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectCategory.ShortName)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SubjectCategory.SubjectCategoryID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">กลับสู่หน้าหมวดหมู่</a>
    </form>
</div>
