@page
@model TutorPsu.Pages.TutorCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดวิชา";
}

<h2>รายละเอียด</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           วิชา :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectCategory.ShortName)
        </dd>
        <dt>
           รายละเอียดวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubjectCategory.SubjectCategoryID">เเก้ไข</a> |
    <a asp-page="./Index">กลับสู่หน้าหมวดหมู่</a>
</div>
