@page
@model TutorPsu.Pages.TutorCategoryAdmin.EditModel

@{
    ViewData["Title"] = "เเก้ไขหมวดหมู่วิชา";
}

<h2>เเก้ไข</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectCategory.SubjectCategoryID" />
            <div class="form-group">
                <label asp-for="SubjectCategory.ShortName" class="control-label">ชื่อ </label>
                <input asp-for="SubjectCategory.ShortName" class="form-control" />
                <span asp-validation-for="SubjectCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectCategory.FullName" class="control-label">หมวดหมู่วิชา</label>
                <input asp-for="SubjectCategory.FullName" class="form-control" />
                <span asp-validation-for="SubjectCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">กลับสู่หน้าหมวดหมู่วิชา</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
