@page
@model TutorPsu.Pages.TutorCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "Tutor Home";
}

<h2>วิชาเเละหมวดหมู่</h2>

<p>
    <a asp-page="Create">สร้างใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                วิชา
            </th>
            <th>
                เพิ่มเติมรายละเอียด
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubjectCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectCategoryID">เเก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectCategoryID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectCategoryID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
